body {
  font-family: Google Sans, Roboto, arial, sans-serif;
  font-size: 16px;
  color: black;
  background-color: #e9edc9;
  margin-top: 60px;
}

h1 {
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  margin-top: 25px;
  color: black;
  text-transform: capitalize;
}

ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

hr {
  background-color: #d4a373;
  margin: 5px;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 0 auto;
}

.weather-app {
  background-color: #ccd5ae;
  border: 1px solid #ccd5ae;
  border-radius: 10px;
  margin: 0 auto;
  padding: 25px 20px 25px 35px;
}

.form-group {
  margin-top: 30px;
}

.formColor {
  background-color: hsl(67, 50%, 86%);
  border-color: #d4a373;
}

.btn-search {
  background-color: #d4a373;
  border-color: #d49556;
  font-weight: 500;
}

.date {
  text-align: center;
  font-size: 14px;
  opacity: 60%;
}

.temperature {
  text-align: center;
  font-size: 64px;
  position: relative;
  left: 60px;
}

.unit {
  font-size: 16px;
  position: relative;
  top: -34px;
  left: -16px;
}

.condition {
  text-align: center;
  opacity: 60%;
  font-size: 22px;
}

.icon {
  width: 65px;
  position: relative;
  left: 15px;
}

.weather {
  text-align: center;
  font-size: 14px;
  opacity: 60%;
}

.overview {
  margin-top: 30px;
  margin-left: 30px;
  padding: 65px 35px;
  border: 1px dashed #d4a373;
  border-radius: 120px;
}

.day {
  font-size: 16px;
}

.degree {
  font-size: 16px;
}

.icon-forecast {
  width: 37px;
}

.maxMin {
  font-size: 12px;
  opacity: 60%;
}

.col-3-time {
  font-size: 14px;
  position: relative;
  left: 78px;
  top: 1px;
  border: 1px dashed #d4a373;
  padding-block-start: 35px;
  border-radius: 50px;
  background-color: #faedcd;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  opacity: 70%;
}

.col-3-circle {
  position: relative;
  left: 45px;
  top: 32px;
  border: 1px dashed #d4a373;
  border-radius: 100px;
  padding: 20px;
  background-color: #faedcd;
  opacity: 70%;
}

.col-2-icon {
  position: relative;
  left: 30px;
}
